node_modules/
.node_modules/
built/
*.js
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.idea
yarn.lock
yarn-error.log
.parallelperf.*
package-lock.json
.eslintcache